// Override of the default styles
$accentColor = crimson
$textColor = #333333
$borderColor = #eaecef
$codeBgColor = #282c34

blockquote
  border-left .5rem solid royalblue
  background-color:#f2f2f8
  padding: 1rem 1.5rem

  & > p
    color: #444444
    font-style: italic

.theme-default-content code
  color: #333333
  background-color: #f2f2f8
  box-decoration-break: clone
  border-left: 0.2rem solid royalblue
  border-radius: 0

.custom-block.tip
  background-color: rgba(0,255,0,0.1)
